html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'roboto', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden; 
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/** Style start here */

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at center, #000D4E 0%, #011019 40%, #011019 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../assets/bg.png');
    z-index: 5;
    opacity: .5;
  }
  .title-section {
    width: 100%;
    padding: 128px 16px 64px 16px;
    max-width: 700px;
    position: relative;
    z-index: 10;
    .text-small {
      color: #00D0EE;
      margin-bottom: 20px;
      width: 100%;
      font-weight: 600;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
    }
    h1 {
      color: #FCFBF9;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 800;
      line-height: 44px;
    }
    .text-normal {
      color: #9BA6B4;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 36px;
    }
  }
  .card-section {
    width: calc(100% - 48px);
    max-width: 1080px;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 24px;
    position: relative;
    z-index: 10;
    .card {
      width: 100%;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      &.card-blur {
        backdrop-filter: blur(15px) saturate(125%);
        background-color: rgba(255,255,255,.02);
      }
      &.card-blue {
        background: linear-gradient(to bottom, #0517B1, #2E5ECF);
        p, i, span {
          color: #CEDFFF !important;
        }
      }
      .card-content {
        display: flex;
        flex-direction: column;
        padding: 55px;
        h3 {
          color: #FCFBF9;
          font-size: 20px;
          line-height: 36px;
          font-weight: 500;
          margin-bottom: 16px;
        }
        .text-normal {
          color: #9BA6B4;
          width: 100%;
          font-size: 20px;
          line-height: 36px;
          b {
            font-weight: 600;
            color: #FCFBF9;
          }
        }
        .price-container {
          margin-top: 24px;
          display: flex;
          align-items: center;
          .dollar-sign-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-right: 8px;
            span {
              color: #FCFBF9;
              font-size: 32px;
              line-height: 38px;
            }
          }
          .amount-container {
            margin-right: 16px;
            h2 {
              color: #FCFBF9;
              font-size: 72px;
              font-weight: 800;
              line-height: 78px;
            }
          }
        }
        button {
          height: 52px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 500;
          border: none;
          outline: none;
          margin-top: 24px;
          cursor: pointer;
          &.glass-button {
            background-color: rgba(255,255,255,.1);
            color: #FCFBF9;
            border: 2px solid rgba(196, 196, 196, .05);
          }
          &.white-button {
            background-color: #FCFBF9;
            color: black;
          }
        }
        .detail-section {
          margin-top: 24px;
          width: 100%;
          p {
            padding: 8px 0;
            &:not(:first-child) {
              border-top: 1px solid rgba(196, 196, 196, .1);
            }
          }
        }
      }
    }
  }
}